.button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 5px;
}

.button__primary {
    background-color: blue;
}

.button__danger {
    background-color: red;
}

.button:hover {
    outline: none;
}